{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %}

<!--cart section-->
<div class="hero-image1">
    <div class="hero-text1">
        <h1 class="breadcrumbs text-white display-3">Agri-Sphere</h1>
    </div>
</div>
<!--/cart section-->

<!--service part-->
<section>
    <div class="container">
        <h1 class="text-center text-capitalize pt-5" style="font-family: 'Arima Madurai', cursive;">Features</h1>
        <hr class="w-25 mx-auto" />

        <div class="row text-center mb-5 p-3">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/a.jpg')}}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Crop</h4>
                        <p class="card-text">Recommendation about the type of crops to be cultivated which is best suited for the respective conditions.</p>
                        <p><a href="{{ url_for('crop_recommend') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/c.jpg') }}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Fertilizer</h4>
                        <p class="card-text">Recommendation about the type of fertilizer best suited for the particular soil and the recommended crop</p>
                        <p><a href="{{ url_for('fertilizer_recommendation') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/e.jpg') }}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Security</h4>
                        <p class="card-text">Alarming the farmers when any intrusion occurs
                        </p>
                        <p><a href="{{ url_for('security') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services end-->



<!-- footer section start-->



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


{% endblock body %}